<div *ngIf="things && !mod" class="itemsdiv">
    <ul class="items">
        <li *ngFor="let thing of things">
            <div class="inner-item"
            (click)="onSelect(thing)"
            [class.selecteditem]="selectedThingsUIDS.indexOf(thing.UID) > -1">
               {{thing.label}}
            </div>        
         </li>
     </ul>
</div>
<div *ngIf="mod" class="itemsdiv">
    <ul class="items">
        <li >
            <div class="inner-item" (click)="onSelect(mod.thing)">
                {{mod.thing.label}} <br>
                Already exists
            </div>
        </li>
     </ul>
</div>