<div *ngIf="items" class="itemsdiv">
    <ul class="items">
        <li *ngFor="let item of items">
            <div class="inner-item"
            (click)="onSelect(item)"
            [class.selected]="selectedItems.indexOf(item) > -1">
               {{item.thingName}} <br>
               {{item.label}}
            </div>        
         </li>
     </ul>
</div>
<app-condition [item]="selectedItem" (onSelected)="addItemToSelected(selectedItem)" #modal>
    <div class="app-modal-header">
      Conditions modal
    </div>
    <div class="app-modal-body">
      ...
    </div>
</app-condition>