@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.selecteditem {
    background-color: #CFD8DC !important;
    color: white;
  }
  .items {
    list-style-type: none;
  }
  .items li {
    width: 33%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .inner-item {
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .inner-item.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .inner-item:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .inner-item .text {
    position: relative;
  }
  
  /* The Modal (background) */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

/* The Close Button */
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }

 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }
 /* Modal Header */
.modal-header {
    padding: 2px 16px;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;    
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 75px;
  height: 75px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-from-right {
  position: relative;
  -webkit-animation-name: animatefromright;
  -webkit-animation-duration: 1s;
  animation-name: animatefromright;
  animation-duration: 1s
}

@-webkit-keyframes animatefromright {
  from { left:100px; opacity:0 } 
  to { left:0px; opacity:1 }
}

@keyframes animatefromright { 
  from{ left:100px; opacity:0 } 
  to{ left:0; opacity:1 }
}

div[hidden] {
	display: none !important;
}