@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
	overflow-x:hidden;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Add animation to "page content" */
.animate-from-right {
  position: relative;
  -webkit-animation-name: animatefromright;
  -webkit-animation-duration: 1s;
  animation-name: animatefromright;
  animation-duration: 1s
}

@-webkit-keyframes animatefromright {
  from { left:50%; opacity:0 } 
  to { left:0px; opacity:1 }
}

@keyframes animatefromright { 
  from{ left:50%; opacity:0 } 
  to{ left:0; opacity:1 }
}

div[hidden] {
	display: none !important;
}

.loader {
    display: inline-block;
    /* If worried about IE7 and IE6, add the two next lines */
    *display: inline;
    *zoom: 1;
    float: middle;
    clear:both;
    margin: 20px;
    float: middle;
}