.date-button {
    margin: 5px;
    background-color: white;
    color: black;
}

.selectedday {
    background-color: #4CAF50 !important;
}

mat-form-field {
    width: 150px;
    text-align: center;
}

.error {
	font-size: 10px; 
	color: grey;
	float: right;
}

.dialog-buttons {
	float: right;
	clear: both;
	margin-bottom: 0;
}

.container {
}

.unsupported-type {
	color: orange;
	vertical-align: middle;
	margin-left: 5px;
}

@media (max-width:800px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .container * {
    width: 100%;
  }
}