<div *ngIf="step == 0" class="loader"></div>
<div [hidden]="step != 1" class="creatediv">
	<h2>Enter name and description</h2>
	<mat-form-field style="width: 100%;"> <input #name matInput placeholder="Name"> </mat-form-field>
	<mat-form-field style="width: 100%;"> <input #desc matInput placeholder="Description" (keyup.enter)="saveNameAndDescription(name.value, desc.value); next();"> </mat-form-field>
	<div class="btn-div">
		<button type="button" class="btn btn-primary" (click)="saveNameAndDescription(name.value, desc.value); next();">Next</button>
	</div>
</div>
<div [hidden]="step != 2" class="creatediv">
	<div class="itemsdiv">
		<h2>Choose conditions</h2>
		<div class="conditions">
			<app-items [things]="things" [thingType]="'condition'"></app-items>
		</div>
	</div>
	<div class="btn-div">
		<button type="button" class="btn btn-default" (click)="goBack()">Back</button>
		<button type="button" class="btn btn-primary" (click)="next()">Next</button>
	</div>
</div>
<div [hidden]="step != 3" class="creatediv">
	<div class="itemsdiv">
		<h2>Choose actions</h2>
		<div class="actions">
			<app-items [things]="thingsWithEditableItems" [thingType]="'action'"></app-items>
		</div>
	</div>
	<div class="btn-div">
		<button type="button" class="btn btn-default" (click)="goBack()">Back</button>
		<button type="button" class="btn btn-primary" (click)="createRule()">Create</button>
	</div>
	<div #bodyJson></div>
</div>