<div *ngIf="step == 0" class="loader">
        <mat-progress-spinner
        color="primary"
        mode="indeterminate">
    </mat-progress-spinner>
</div>
<div *ngIf="step != 0" class="animate-from-right">
    <section>
        <div style="width: 60%; margin: auto; display:flex; align-items: center; justify-content: center">
			<div style="flex: 1;">
			<mat-progress-bar style="max-width: 75%; margin: auto;"
			    color="primary"
			    mode="determinate"
			    [value]="(step - 1)*33.3333">
			</mat-progress-bar>
			</div>
            <button mat-icon-button (click)="cancel()" style="align-self: flex-end;"><mat-icon>close</mat-icon></button>
        </div>
    </section>
</div>
<div [hidden]="step != 1" class="creatediv animate-from-right">
	<h2>Enter name and description</h2>
	<form>
		<mat-form-field style="width: 100%;"> <input #name matInput placeholder="Name" [formControl]="requiredFormControl" required [value]="rule.name"> <mat-error *ngIf="requiredFormControl.hasError('required')">Please enter value</mat-error></mat-form-field>
		<mat-form-field style="width: 100%;"> <textarea #desc matInput placeholder="Description" (keyup.enter)="saveNameAndDescription(name.value, desc.value); next();" [value]="rule.description"></textarea> </mat-form-field>
	</form>
	<div class="button-row">
        <button mat-raised-button (click)="cancel()">Cancel</button>
	    <button mat-raised-button color="primary" [disabled]="requiredFormControl.hasError('required')" (click)="saveNameAndDescription(name.value, desc.value); next();">Next</button>
	</div>
</div>
<div [hidden]="step != 2" class="creatediv animate-from-right">
	<div class="itemsdiv">
		<h2>Choose conditions</h2>
		<div class="conditions">
		  <app-dynamic-component [componentData]="conditionsComponentData" (modUpdated)="onRuleUpdated($event)" (modDeleted)="onModDeleted($event)"></app-dynamic-component>
		  <!-- <button *ngIf="newConditionButtonEnabled" mat-raised-button (click)="createNewConditionComponent()">New condition</button> -->
		  <a *ngIf="newConditionButtonEnabled" [@fadeIn] mat-icon-button color="green" (click)="createNewConditionComponent()" style="float:left">		      
			<mat-icon style="color: green;">add</mat-icon>
			<span style="color: green;">New condition</span>
          </a>
		</div>
	</div>
	<div class="button-row" style="clear:both;">
	    <button mat-raised-button (click)="goBack()">Back</button>
	    <button mat-raised-button color="primary" [disabled]="isConditionsZero()" (click)="next()">Next</button>
	</div>
</div>
<div [hidden]="step != 3" class="creatediv animate-from-right">
	<div class="itemsdiv">
		<h2>Choose actions</h2>
		<div class="actions">
		  <app-dynamic-component [componentData]="actionsComponentData" (modUpdated)="onRuleUpdated($event)" (modDeleted)="onModDeleted($event)"></app-dynamic-component>
		  <a *ngIf="newActionButtonEnabled" [@fadeIn] mat-icon-button color="green" (click)="createNewActionComponent()" style="float:left">              
            <mat-icon style="color: green;">add</mat-icon>
            <span style="color: green;">New action</span>
          </a>
		</div>
	</div>
    <div class="button-row">
        <button mat-raised-button (click)="goBack()">Back</button>
        <button mat-raised-button color="primary" [disabled]="isActionsZero()" (click)="next()">Next</button>
    </div>
</div>
<div [hidden]="step != 4" class="creatediv animate-from-right">
    <h2>Overview</h2>
    <h3><b>Name:</b> {{rule.name}}</h3>
    <h3 *ngIf="rule.description"><b>Description:</b> {{rule.description}}</h3>
    <div class="button-row">
        <button mat-raised-button (click)="goBack()">Back</button>
        <button mat-raised-button color="primary" (click)="createRule()">Create</button>
    </div>
    <div #bodyJson></div>
</div>