.itemsdiv {
    width: 100%;
    height: 100%;
}

.creatediv {
    width: 60%;
    display: inline-block;
    /* If worried about IE7 and IE6, add the two next lines */
    *display: inline;
    *zoom: 1;
    float: middle;
    clear:both;
}
.headers{
	margin-left: -580px;
    margin-top: 30px;
    color: cadetblue;
}

.itemsdiv .li{
	background-color: red; 
}


@media (max-width:800px) {
  .creatediv {
    width:100%;
  }
}

.button-row {
	padding: 2px 16px;
	float: right;
}