.overviewdiv {
	width: 60%;
	height: 75%;
	display: inline-block;
	/* If worried about IE7 and IE6, add the two next lines */
	*display: inline;
	*zoom: 1;
	float: middle;
	clear: both;
}

.missingExtensionClass {
	margin-top: 30px;
}
@media (max-width:800px) {
  .overviewdiv {
    width:100%;
  }
}

.headers {
    text-align: left;
    margin: 15px;
    margin-top: 30px;
    color: cadetblue;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar  {
    background-color: #62f442; 
       
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb  {
    background-color: white; 
}

/*
::ng-deep .mat-fab{
	background-color: green !important; 
}*/


.rules {
	position: relative;
	text-align: left;
	clear: both;
}

.inner-rule {
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	cursor: pointer;
	border-radius: 25px; 
	width: 100%;
}


.button-row {
	padding: 0 16px 8px;
	float: right;
}