<div *ngIf="isLoading" class="loader">
	<mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
</div>
<div *ngIf="extensionMissing" class="missingExtensionClass overviewdiv">
	<h3>OpenHAB is not configured correctly for automation yet. <br>
	Please follow the <a href="temp">guide</a> to finish the configuration.</h3>
</div>
<div *ngIf="loadError" class="missingExtensionClass overviewdiv">
    <h3>Recipes could not be fetched. Please verify that openHAB is working correctly.</h3>
</div>
<div *ngIf="!isLoading && !extensionMissing && !loadError" class="overviewdiv">
	<div class="button-row">
        <button mat-fab color="primary" (click)="openCreate(null)" matTooltip="Create new recipe" matTooltipPosition="below"><mat-icon>add</mat-icon></button>
    </div>
     <div class="headers"><h2> Existing recipes</h2></div>
     <div *ngIf="!rules || rules.length === 0">
        No existing recipes.
     </div>
	<mat-list class="rules"> <mat-list-item *ngFor="let rule of rules" class="inner-rule">
		<div style="width: 50%" (click)="openCreate(rule)">
			<h3 matLine><b>{{rule.name}}</b></h3>
			<span matLine>{{rule.description}}</span>
		</div>
		
		<mat-slide-toggle [checked]="rule.enabled" (change)="enableDisableRule(rule)" style="width: 15%; height: auto;"></mat-slide-toggle>
		<div style="width: 15%"><button mat-icon-button (click)="openCreate(rule)" matTooltip="Edit recipe" matTooltipPosition="below"><mat-icon>edit</mat-icon></button></div>
		<div style="width: 15%"><button mat-icon-button (click)="deleteRule(rule)" matTooltip="Delete recipe" matTooltipPosition="below"><mat-icon>delete</mat-icon></button></div>
	</mat-list-item> </mat-list>
</div>
