::ng-deep .md-toolbar-tools, .md-medium-tall{
	 background-color: #009688; 
	 height: 6em;
	 margin: -6px;
	 cursor: pointer;
}

.title {
	color: white;
	font-size: 41px; 
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}